body {
  padding: 5vw;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 30% 20% 50%;
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 300;
}

.left {
  grid-column-start: 1;
}

.middle {
  grid-column-start: 2;
  padding-right: 2vw;
  float: right;
}

.right {
  grid-column-start: 3;
  font-weight: 300;
  padding-top: 1vw;
}

.lab {
  grid-column-start: 3;
  grid-row-start: 2;
}

.link {
  font-size: 1.2vw;
  font-weight: 300;
  padding: 0.6vw;
  margin-right: 0.5vw;
  /*color: white;
  background-color: black;*/
  color: black;
  background-color: lavender;
  border-radius: 2vw;
  outline-color: black;
  text-decoration: none;
  float: left;
}