html {
  cursor: none;
  cursor: url(dot.png), auto;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.wrapper {
  text-align: center;
  width: 100%;
  z-index: 5;
}

.row {
  display: flex;
  flex-direction: row;
}

.menu {
  width: 40%;
  align-self: flex-start;
}

.space {
  width: 100%;
}

link {
  display: block;
}

.project-img {
  max-width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 1;
  opacity: 0;
}

a {
  text-decoration: none;
  font-size: 1.5vw;
  color: floralwhite;
  padding: 0.5vw;
  border: 0.1vw solid floralwhite;
  border-radius: 50vw;
  z-index: 5;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 7vw;
  color: floralwhite;
  text-align: left;
  line-height: 7vw;
  margin-right: 2vw;
  margin-left: 2vw;
  z-index: 1;
}

#title {
  font-size: 2vw;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.panel, .slide-down {
  padding: 1vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: left;
  color: floralwhite;
}

.window, .slide-up {
  padding: 1vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: right;
  color: floralwhite;
}

.panel, .window {
  display: none;
}

a:hover + .project-img {
  opacity: 1;
}

@media (max-width: 800px) {
  h2 {
    font-size: 10vw;
    text-align: right;
    position: absolute;
    top: 0%;
    right: 5%;
    order: 3;
  } 
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
  #title {
    font-size: 5vw;
  }
  a {
    font-size: 3vw;
    padding: 2vw;
    order: 1;
  }
  a:hover {
    background-color: floralwhite;
    color: black;
  }
  img {
    position: absolute;
    top: 0%;
    left: 50%;
  }
  .panel, .slide-down {
    padding: 3vw;
    z-index: 5;
    order: 1;
  }

  .window, .slide-up {
    padding: 3vw;
    order: 1;
  }
}