body {
  padding: 80px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 30% 20% 50%;
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 300;
}

.left {
  grid-column-start: 1;
}

.middle {
  grid-column-start: 2;
  padding-right: 20px;
  float: right;
}

.right {
  grid-column-start: 3;
  font-weight: 300;
  padding-top: 20px;
}

.link {
  font-size: 20px;
  padding: 10px;
  /*color: white;
  background-color: black;*/
  color: black;
  background-color: lavender;
  border-radius: 20px;
  outline-color: black;
  text-decoration: none;
  float: left;
}