body {
  background-color: lavender;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 20% 70% 10%;
}

img {
  width: 100%;
}

ul, ol {
  margin: 0;
}

ol {
  padding-left: 60px;
}

.question-container {
  grid-column-start: 2;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  display: inline-block;
}

.question {
  font-weight: 300;
}

.answer {
  font-size: 50px;
  padding-top: 20px;
}