@font-face {
  font-family: 'Recoleta-Regular';
  src: url('fonts/Recoleta-Regular.woff2') format('woff2'),
       url('fonts/Recoleta-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'KnifMonoTRIAL-Regular';
  src: url('fonts/KnifMonoTRIAL-Regular.woff2') format('woff2'),
       url('fonts/KnifMonoTRIAL-Regular.woff') format('woff');
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
/*  overflow: hidden;*/
  text-rendering: optimizeLegibility;

  margin: 0;
  background-color: black;
}

/*TITLE*/

.title {
  font-size: 30px;
  font-family: KnifMonoTRIAL-Regular;
  text-align: center;
  color: floralwhite;

  z-index: 2;
}

.intro {
  font-size: 45px;
  font-family: garamond-fb-display, serif;
  font-weight: 300;
  text-align: justify;
  overflow-wrap: break-word;
  color: floralwhite;
}

.topic {
  text-decoration: underline;
  color: floralwhite;
}

.topic:hover {
  color: #E85138;
  font-style: italic;
}

/*RUNNING HEADS*/

.head-intro {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  left: -4vw;
  top: 25vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

.question-number-intro {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  right: -3vw;
  top: 25vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

.head {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  left: 0vw;
  top: 12vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

.head-2 {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  left: -3vw;
  top: 16vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

.head-3 {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  left: 1vw;
  top: 12vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

.head-4 {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  left: -1vw;
  top: 15vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

hr {
  border-top: 1px solid #E85138;
  border-bottom: black;
  border-left: black;
  border-right: black;
}

.question-number {
  font-size: 1vw;
  font-family: KnifMonoTRIAL-Regular;
  position: absolute;
  margin: auto;
  right: 1vw;
  top: 12vw;
  transform: rotate(-90deg);
  z-index: 2;
  color: floralwhite;
}

.exception {
  top: 32vw;
}

/*IMAGE HOVER*/

img {
  opacity: 40%;
  margin: auto;
  z-index: 1;
}

.img1 {
  width: 200%;
  position: relative;
  bottom: 42vw;
  right: 20vw;
}

.img1-1, .img2 {
  width: 200%;
  position: relative;
  bottom: 49vw;
  right: 20vw;
}

.img2-1 {
  width: 200%;
  position: relative;
  bottom: 51vw;
  right: 20vw;
}

.img3 {
  width: 200%;
  position: relative;
  bottom: 48vw;
  right: 20vw;
}

.img3-1 {
  width: 200%;
  position: relative;
  bottom: 45vw;
  right: 20vw;
}

.img3-2 {
  width: 200%;
  position: relative;
  bottom: 40vw;
  right: 20vw;
}

.img4 {
  width: 200%;
  position: relative;
  bottom: 29vw;
  right: 20vw;
}

.img4-1 {
  width: 100%;
  position: relative;
  bottom: 37vw;
  right: 20vw;
}

.img4-2 {
  width: 100%;
  position: relative;
  bottom: 94.8vw;
  left: 20vw;
}

.blurOut .img1 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img1:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img1-1 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img1-1:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img2 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img2:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img2-1 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img2-1:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img3 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img3:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img3-1 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img3-1:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img3-2 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img3-2:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img4 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img4:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img4-1 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img4-1:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

.blurOut .img4-2 {
  transition: all 3s ease;
  -webkit-filter: blur(60px);
}

.blurOut .img4-2:hover {
  -webkit-filter: blur(0px);
  z-index: 4;
}

/*QUESTION AND ANSWER*/

.question {
  font-family: Recoleta-Regular, serif;
  font-size: 2vw;
  font-weight: 700;
  text-align: left;
  z-index: 2;
  color: floralwhite;

  padding: 2vw;
}

.answer {
  font-family: garamond-fb-display, serif;
  font-size: 1.2vw;
  line-height: 1.4;
  text-align: left;
  z-index: 2;
  color: floralwhite;

  padding: 2vw;
}

.panel-intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  padding: 5vw 15vw;
  margin: auto;
  box-sizing: border-box;
  cursor: default;
}

.panel-long {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  padding: 2vw 30vw;
  margin: auto;
  box-sizing: border-box;
  cursor: default;
}

.panel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  padding: 5vw 30vw;
  margin: auto;
  box-sizing: border-box;
  cursor: default;
}

@media (max-width: 1000px) {
  body {
    overflow: visible;
  }
  img {
    width: 60%;
    position: relative;
    bottom: 40vw;
  }
  .title {
    font-size: 2rem;
    position: relative:;
  }
  .intro {
    font-size: 1.8rem;
  }
  .question {
    font-size: 1rem;
    padding-bottom: 3vw;
  }
  .answer {
    font-size: 1rem;
  }
  .head-intro, .question-number-intro, .head, .head-2, .head-3, .head-4, .question-number {
    display: none;
  }
  .panel-intro {
    overflow: visible;
  }
  .panel, .panel-long {
    position: relative;
    top: 100vw;
    height: 100vh;
    overflow: visible;
    font-size: 10vmin;
    padding: 10vw 10vw;
    margin: auto;
    box-sizing: border-box;
  }
}

@media print {
  body {
    overflow: visible;
  }
  img {
    width: 60%;
    position: relative;
    bottom: 170vw;
  }
  .title {
    font-size: 2rem;
    position: relative:;
  }
  .intro {
    padding-top: 18rem;
    font-size: 1.8rem;
  }
  .question {
    font-size: 1rem;
    padding-bottom: 3vw;
  }
  .answer {
    font-size: 1rem;
  }
  .head, .head-2, .head-3, .head-4, .question-number {
    display: none;
  }
  .panel {
    position: relative;
    height: 100vh;
    overflow: visible;
    font-size: 10vmin;
    padding: 10vw 10vw;
    margin: auto;
    box-sizing: border-box;
  }
}