html {
  /*background: linear-gradient(213deg, #6b5d8c, #596b8a, #273752, #859dc6);
  -webkit-animation: gradual 30s ease infinite;
  animation: gradual 30s ease infinite;
  min-height: 100%;*/
}

body {
  background: linear-gradient(339deg, #dbe8e5, #9ec5cc, #a0a9bd, #eee9c5) 20% 100% / 100% 200%;

  -webkit-animation: gradual 15s ease infinite;
  -moz-animation: gradual 15s ease infinite;
  animation: gradual 15s ease infinite;

  margin: 0;
  height: 100%;
  width: 100%;
}

.slideshow {
  position: relative;
  overflow: hidden;
  /* Slideshow needs a height */
  height: 100vh;
}

.images {
  animation: slideshow 100s linear infinite;
  position: relative;
  opacity: 70%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
}

.bedroom:hover .overlay {
  opacity: 1;
}

.transportation:hover .overlay {
  opacity: 1;
}

.friends:hover .overlay {
  opacity: 1;
}

.rooftop:hover .overlay {
  opacity: 1;
}

.food:hover .overlay {
  opacity: 1;
}



img {
  max-width: 30%
}

.bedroom {
  animation: fade ease 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.transportation {
  animation: fade ease 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.friends {
  animation: fade ease 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.rooftop {
  animation: fade ease 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.food {
  animation: fade ease 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bottom-1 {
  max-width: 50%;
  position: absolute;
  top: 20vh;
  border-radius: 50%;
}

.top-1 {
  max-width: 50%;
  position: absolute;
  top: 20vh;
  border-radius: 50%;
  animation: fade ease;
}

.bottom-2 {
  max-width: 20%;
  position: absolute;
  top: 10vh;
  left: 40vw;
  border-radius: 50%;
}

.top-2 {
  max-width: 20%;
  position: absolute;
  top: 10vh;
  left: 40vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-3 {
  position: absolute;
  top: 60vh;
  left: 70vw;
  border-radius: 50%;
}

.top-3 {
  position: absolute;
  top: 60vh;
  left: 70vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-4 {
  position: absolute;
  top: 20vh;
  left: 100vw;
  border-radius: 50%;
}

.top-4 {
  position: absolute;
  top: 20vh;
  left: 100vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-5 {
  max-width: 35%;
  position: absolute;
  top: -5vh;
  left: 120vw;
  border-radius: 50%;
}

.top-5 {
  max-width: 35%;
  position: absolute;
  top: -5vh;
  left: 120vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-6 {
  max-width: 25%;
  position: absolute;
  top: 5vh;
  left: 165vw;
  border-radius: 50%;
}

.top-6 {
  max-width: 25%;
  position: absolute;
  top: 5vh;
  left: 165vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-7 {
  max-width: 35%;
  position: absolute;
  top: 60vh;
  left: 175vw;
  border-radius: 50%;
}

.top-7 {
  max-width: 35%;
  position: absolute;
  top: 60vh;
  left: 175vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-8 {
  max-width: 20%;
  position: absolute;
  top: 30vh;
  left: 200vw;
  border-radius: 50%;
}

.top-8 {
  max-width: 20%;
  position: absolute;
  top: 30vh;
  left: 200vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-9 {
  max-width: 50%;
  position: absolute;
  top: -10vh;
  left: 240vw;
  border-radius: 50%;
}

.top-9 {
  max-width: 50%;
  position: absolute;
  top: -10vh;
  left: 240vw;
  animation: fade ease;
  border-radius: 50%;
}

.bottom-10 {
  max-width: 15%;
  position: absolute;
  top: 60vh;
  left: 270vw;
  border-radius: 50%;
}

.top-10 {
  max-width: 15%;
  position: absolute;
  top: 60vh;
  left: 270vw;
  animation: fade ease;
  border-radius: 50%;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

@keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes gradual {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes gradual {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes gradual {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}

/*.container {
  display: flex;
  flex-wrap: nowrap;
}
*/
