@font-face {
  font-family: 'GT-America-Regular';
  src: url('fonts/GT-America-Regular.woff2') format('woff2'),
       url('fonts/GT-America-Regular.woff') format('woff');
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: GT-America-Regular, sans-serif;
}

video, img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

.box {
  height: 100%;
  flex-direction: column;
}

.top {
  align-self: flex-start;
}

.middle {
  justify-content: center;
}

.bottom {
  align-self: flex-end;
}

.left {
  width: 50%;
  height: 100%;
  padding: 1vw;
  background-color: floralwhite;

  position: sticky;
  top: 0;
}

.right {
  width: 50%;
  padding: 1vw;
}

.split {
  width: 25%;
  padding: 1vw;
}

.instruction-head {
  background-color: white;
  position: sticky;
  top: 0;
}

.title {
  font-size: 3vw;
}

.heading {
  font-size: 2vw;
}

.name {
  color: lightgrey;
  font-size: 2vw;
  text-align: right;
}

.body-text {
  font-size: 5vw;
  padding: 1vw;
  line-height: 5vw;
}

.desc {
  font-size: 2vw;
  padding: 1vw;
}

.home-links {
  font-size: 3vw;
  line-height: 5vw;
}

/*.preview {
  padding-top: 8vw;
  padding-bottom: 7vw;
}*/

/* LINKS */

.view {
  color: black;
  border: 0.1vw solid floralwhite;
  border-radius: 50vw;
  padding: 0.5vw;
}

.switch-view:hover, .selected {
  border: 0.1vw solid black;
  border-radius: 50vw;
  padding: 0.5vw;
}
