body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;

  background-color: #C5DCE6;
}

.column {
  width: 20%;
  padding: 3vw;
}

.col {
  height: 50%;
}

.right {
  text-align: right;
}

.middle {
  width: 60%;
}

.container {
  overflow: visible;
}

.title {
  font-family: barricada-pro, serif;
  font-size: 7.5vw;
  text-align: center;
  line-height: 7vw;
  color: floralwhite;
  margin: auto;
  position: relative;
  top: 13vw;
  z-index: 3;
  overflow: visible;
}

#subtitle {
  font-family: franklin-gothic-urw;
  font-size: 1vw;
  text-align: center;
  color: #93ACB8;
  letter-spacing: 0.2vw;
  z-index: 3;
}

#small-title {
  font-size: 5vw;
  line-height: 3vw;
  z-index: 3;
}

.details {
  font-family: franklin-gothic-urw;
  font-size: 1vw;
  color: #93ACB8;
  z-index: 3;
}

.address {
  font-weight: 500;
  font-size: 1.5vw;
}

.dated {
  font-size: 2vw;
  font-weight: 500;
  position: relative;
  top: 12vw;
}

.dates {
  position: relative;
  top: 4.5vw;
}

.coffee-cup {
  position: relative;
  bottom: 10vw;
  left: 19vw;
  z-index: 1;

  animation: rotateOutUpLeft 5s ease infinite;
  animation-direction: alternate-reverse;
}

.cup {
  width: 33vw;
  height: 25vw;

  transform: translate(-50%, -50%);
  border: 2vw solid #E8AD8B;
  border-top: 2vw solid transparent;
  border-radius: 15vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  margin: auto;

  position: relative;
  top: 15vw;
  overflow: hidden;
  z-index: 1;
}

.coffee {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(357deg, #a5877e, #a5877e, #a5877e, #cec5bd, #ffffff);
  border-radius: 10vw;
  border-top-left-radius: 0vw;
  border-top-right-radius: 0vw;
  z-index: 1;
}

.handle {
  width: 7vw;
  height: 10vw;

  background: transparent;
  position: relative;
  bottom: 24vw;
  left: 24.5vw;
  border: 2vw solid #E8AD8B;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 8vw;
  overflow: visible;
  z-index: 3;
}

@keyframes rotateOutUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -60deg);
    transform: rotate3d(0, 0, 1, -60deg);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  body {
    overflow-y: visible;
    display: flex;
    flex-direction: column;
  }
  .column, .middle {
    width: 100%;
  }

  .right {
    position: relative;
    right: 2rem;
  }

  .title {
    font-size: 13vw;
    line-height: 4rem;
    justify-content: center;
    order: 1;
  }
  #small-title {
    font-size: 8vw;
    order: 1;
  }
  #subtitle {
    font-size: 1rem;
    order: 1;
  }

  .container {
    height: 60vw;
  }
  .handle {
    position: relative;
    left: 15rem;
  }

  .dated {
    font-size: 2rem;
  }

  .sponsor, .address {
    color: #E89789;
  }
  .details {
    font-size: 1rem;
  }

  @keyframes {
    from {
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
      opacity: 1;
    }

    to {
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
      -webkit-transform: rotate3d(0, 0, 1, -30deg);
      transform: rotate3d(0, 0, 1, -30deg);
      opacity: 1;
    }
  }
}
