<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Web 3.0</title>
    <meta name="description" content="Lowdb Example">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ray7iuo.css">
  </head>
  <body>
    <header>
      <div class="row">
        <div class="col add add-text">
          + Add Text
        </div>
        <div class="col key view-key">
          + View Key
        </div>
      </div>
      
      <br>

      <div class="row">
        <div class="col add">
          <form>
            <p>Write anything … <br>You can CREATE or CONTINUE a thread.</p>
            <input id="messageText" type="text" maxlength="100" placeholder="Type here">
            <button type="submit">Add to Canvas</button>
          </form>
        </div>
        <div class="col key">
          <div class="key-content">
            <div class="box-af"></div> &nbsp;Africa
            <br><div class="box-an"></div> &nbsp;Asia
            <br><div class="box-as"></div> &nbsp;Central America
            <br><div class="box-au"></div> &nbsp;Europe
            <br><div class="box-e"></div> &nbsp;North America
            <br><div class="box-na"></div> &nbsp;Middle East
            <br><div class="box-sa"></div> &nbsp;Oceania
            <br><div class="box-sa"></div> &nbsp;South America
          </div>
        </div>
      </div>
      
    </header>
    
    <main>
      
      <div class="row">
        <div class="col add">
          <a class="reset" href="/reset">Clear the Canvas</a>
        </div>
        <div class="col about">
          + What Is This
        </div>
      </div>
      
      
      
    </main>
    
    

    <!-- Your web-app is https, so your scripts need to be too -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="../public/client.js"></script>

  </body>
</html>
