/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */

.cover-front {
  background-color: #F0E5E4;
  transform: skewY(10deg);
  width: 9vw;
  height: 15vw;
  position: relative;
  top: 0.8vw;
  z-index: 3;
}

.page1 {
  background-color: white;
  width: 9.4vw;
  height: 14vw;
  transform: skewY(2deg);
  position: relative;
  top: -14.5vw;
  z-index: 2;
}

.cover-back {
  background-color: #D9CFCE;
  width: 10vw;
  height: 15vw;
  position: relative;
  top: -5vw;
  left: 10vw;
  z-index: 1;
}

.vase {
  background-color: #F6EFE6;
  width: 8vw;
  height: 10vw;
  border-radius: 50% 50% 30% 30% / 70% 70% 40% 40%;
  position: relative;
  top: -13vw;
  z-index: 3;
}

.flower1 {
  width: 0.3vw;
  height: 5vw;
  background: green;
  position: relative;
  top: -27.3vw;
  left: 4vw;
  z-index: 1;
}

.flower2 {
  width: 0.3vw;
  height: 6vw;
  background: green;
  transform: rotate(11deg);
  position: relative;
  top: -33.3vw;
  left: 5vw;
  z-index: 1;
}

.flower3 {
  width: 0.3vw;
  height: 5.5vw;
  background: green;
  transform: rotate(-11deg);
  position: relative;
  top: -38.3vw;
  left: 3vw;
  z-index: 1;
}

.book1-cover {
  background-color: #F7E5BE;
  width: 16vw;
  height: 2.7vw;
  transform: skewX(70deg);
  position: relative;
  top: -12vw;
  left: 47vw;
  z-index: 2;
}

.book1-spine {
  background-color: #E0C2A8;
  width: 16vw;
  height: 2vw;
  position: relative;
  top: -12.1vw;
  left: 50.5vw;
  z-index: 2;
}

.title {
  font-size: 1vw;
  font-family: sans-serif;
  padding-top: 0.3vw;
  padding-left: 0.9vw;
}

.book1-page {
  background-color: white;
  width: 7vw;
  height: 2vw;
  transform: skewY(20deg);
  position: relative;
  top: -15.4vw;
  left: 43.6vw;
  z-index: 2;
}

.book2-cover {
  background-color: #E5F5DF;
  width: 11vw;
  height: 4.5vw;
  transform: skewX(70deg);
  position: relative;
  top: -18.7vw;
  left: 46.4vw;
  z-index: 1;
}

.book2-page2 {
  background-color: #EAEAE9;
  width: 12vw;
  height: 4vw;
  transform: skewY(20deg);
  position: relative;
  top: -21vw;
  left: 40.4vw;
  z-index: 1;
}

.book2-page {
  background-color: white;
  width: 11vw;
  height: 4vw;
  position: relative;
  top: -22.8vw;
  left: 52.4vw;
  z-index: 1;
}

.table-top {
  background-color: #F5D2C9;
  width: 95vw;
  height: 15vw;
  position: relative;
  top: 22vw;
  z-index: 0;
}

.table-side {
  background-color: #E0BBAF;
  width: 95vw;
  height: 20vw;
  position: relative;
  top: 22vw;
  z-index: 0;
}
